<div *ngIf="vacancy == null; else vacancyDetail">
  <h2>Find your next dream job here!</h2>
  <h2>Get started by searching for keywords in the search bar at the top of the page.</h2>
  <h2>Refine your search with the different search filters.</h2>
  <h2>You can also sort your search results.</h2>
  <h2>Click on one of the vacancy cards on the left to see more details.</h2>
</div>

<ng-template #vacancyDetail>
  <div class="vacancyHeader">
    <h1 class="vacancyTitle">{{vacancy.functionTitle}}</h1>
    <button style="position: absolute;right: 1em;" pButton type="button" label="Apply now"></button>
    <h3>Company: {{vacancy.companyName}}</h3>
    <h3>City: {{vacancy.address.city}}</h3>
    <h3>Date posted: {{vacancy.postingDate | date:'fullDate'}}</h3>
  </div>

  <div class="vacancyInfo">
    <div class="generalInfo">
      <p-card>
        <ng-template pTemplate="header">
          <h2>General info</h2>
        </ng-template>
        <h4>Industry: {{vacancy.industry.industryName}}</h4>
        <h4>Required experience: {{vacancy.requiredYearsOfExperience}}</h4>
        <h4>Contract type: {{vacancy.contractType}}</h4>
        <h4>Location: {{vacancy.address.city}}</h4>
      </p-card>
    </div>

    <div class="description">
      <p-card>
        <ng-template pTemplate="header">
          <h2>Description</h2>
        </ng-template>
        <p>{{vacancy.functionDescription}}</p>
      </p-card>
    </div>

    <div class="offer">
      <p-card>
        <ng-template pTemplate="header">
          <h2>Offer</h2>
        </ng-template>
        <p>{{vacancy.offer}}</p>
      </p-card>
    </div>
  </div>
</ng-template>
